header {
  background-color: #170524;
  border-bottom: solid 2px black;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header_box1 {
  width: 10%;
  margin-left: -30px;
}
.header_box3 {
  width: 20%;
  margin-top: 12px;
}
header img {
  width: 180px;
}
header ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 22px;
}
header ul li {
  text-transform: capitalize;
  font-size: 15px;
}
header ul li i {
  margin-left: 5px;
}

.btn1 {
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  background: rgb(227, 0, 105);
  background: linear-gradient(
    90deg,
    rgba(227, 0, 105, 1) 0%,
    rgba(236, 85, 155, 1) 81%,
    rgba(241, 128, 180, 1) 100%
  );
  border: none;
  color: white;
  font-size: 15px;
  text-transform: capitalize;
}
.btn2 {
  background-color: #2e0947;
  border: solid 1px #e82a82;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  background: -webkit-linear-gradient(#e82a82, #d9c1cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header p {
  display: none;
  cursor: pointer;
}
header p:hover {
  color: #e82a82;
}

@media screen and (max-width: 1200px) and (min-width: 1022px) {
  .header {
    padding: 0px 20px;
  }
  header img {
    width: 160px;
  }
  .header_box1 {
    width: 8%;
  }

  .header_box3 {
    width: 22%;
  }
}
@media screen and (max-width: 1022px) and (min-width: 768px) {
  .header {
    padding: 0px 20px;
  }
  header img {
    width: 200px;
  }

  header ul {
    display: none;
  }

  .header_box3 {
    display: none;
  }
  header p {
    display: block;
    margin-top: 23px;
    color: white;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .header {
    padding: 0px 20px;
  }
  header img {
    width: 200px;
  }

  header ul {
    display: none;
  }

  .header_box3 {
    display: none;
  }
  header p {
    display: block;
    margin-top: 23px;
    color: white;
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 0px 20px;
  }
  header img {
    width: 200px;
  }

  header ul {
    display: none;
  }

  .header_box3 {
    display: none;
  }
  header p {
    display: block;
    margin-top: 23px;
    color: white;
    font-size: 20px;
  }
}
